@font-face {
    font-family: 'Lato';
    src: url('/Lato-fonts/Lato-Heavy.woff2') format('woff2'), 
    url('/Lato-fonts/Lato-Heavy.woff') format('woff'),
    url('/Lato-fonts/Lato-Heavy.eot') format('eot');
    font-weight: 800;
}

@font-face {
    font-family: 'Lato';
    src: url('/Lato-fonts/Lato-Light.woff2') format('woff2'), 
    url('/Lato-fonts/Lato-Light.woff') format('woff'),
    url('/Lato-fonts/Lato-Light.eot') format('eot');
    font-weight: 300;
}

@font-face {
    font-family: 'Lato';
    src: url('/Lato-fonts/Lato-Regular.woff2') format('woff2'), 
    url('/Lato-fonts/Lato-Regular.woff') format('woff'),
    url('/Lato-fonts/Lato-Regular.eot') format('eot');
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: url('/Lato-fonts/Lato-Semibold.woff2') format('woff2'), 
    url('/Lato-fonts/Lato-Semibold.woff') format('woff'),
    url('/Lato-fonts/Lato-Semibold.eot') format('eot');
    font-weight: 700;
}